app/flows/flows_d017c3f.json
[{"id":"efcd47fa.67ec88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9296d210.f02d8","type":"mqtt-broker","z":"","name":"Adafruit","broker":"io.adafruit.com","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"548487d9.5dfcc8","type":"mqtt out","z":"efcd47fa.67ec88","name":"","topic":"piyamate/f/home.temperature-fridge","qos":"","retain":"","broker":"9296d210.f02d8","x":850,"y":180,"wires":[]},{"id":"4d56c704.7d8de8","type":"debug","z":"efcd47fa.67ec88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":120,"wires":[]},{"id":"48613e.ce32fec4","type":"file in","z":"efcd47fa.67ec88","name":"temp-DS18B20","filename":"/sys/bus/w1/devices/28-031633e060ff/w1_slave","format":"utf8","chunk":false,"sendError":false,"x":360,"y":180,"wires":[["d303c3ac.00096"]]},{"id":"10b51102.cf12ff","type":"inject","z":"efcd47fa.67ec88","name":"every 1 minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["48613e.ce32fec4","62c9ae75.c38bf"]]},{"id":"d303c3ac.00096","type":"function","z":"efcd47fa.67ec88","name":"parse-w1-therm","func":"raw = msg.payload.split('\\n')[1];\ntag = 't=';\ndata_str = raw.substr(raw.indexOf(tag)+tag.length);\nmsg.payload = parseInt(data_str)/1000.0;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["4d56c704.7d8de8","548487d9.5dfcc8"]]},{"id":"62c9ae75.c38bf","type":"exec","z":"efcd47fa.67ec88","command":"python /usr/src/app/bme680/read-temp-press-hum.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read-bme680","x":360,"y":300,"wires":[["7ecbc333.3dba8c"],[],[]]},{"id":"7ecbc333.3dba8c","type":"function","z":"efcd47fa.67ec88","name":"parse-bme680","func":"raw = msg.payload.split(',');\ntemp = parseFloat(raw[0].substr(0, raw[0].length-2));\npress = parseFloat(raw[1].substr(0, raw[1].length-4));\nhum = parseFloat(raw[2].substr(0, raw[2].length-5));\nmsg.payload = temp;\nvar msg2 = { payload: press };\nvar msg3 = { payload: hum };\nreturn [msg, msg2, msg3];","outputs":3,"noerr":0,"x":560,"y":300,"wires":[["c1211270.d1156"],["88688235.48a"],["92e67460.587b78"]]},{"id":"c1211270.d1156","type":"mqtt out","z":"efcd47fa.67ec88","name":"","topic":"piyamate/f/home.temperature-wardrobe","qos":"","retain":"","broker":"9296d210.f02d8","x":860,"y":240,"wires":[]},{"id":"88688235.48a","type":"mqtt out","z":"efcd47fa.67ec88","name":"","topic":"piyamate/f/home.pressure-wardrobe","qos":"","retain":"","broker":"9296d210.f02d8","x":850,"y":300,"wires":[]},{"id":"92e67460.587b78","type":"mqtt out","z":"efcd47fa.67ec88","name":"","topic":"piyamate/f/home.humidity-wardrobe","qos":"","retain":"","broker":"9296d210.f02d8","x":850,"y":360,"wires":[]}]